/Homework/GaddisStockProblem/build/
/Homework/GaddisStockProblem/dist/
/Homework/Gaddis_8thEd_Chap2_prob2_salesPrediction/build/
/Homework/Gaddis_8thEd_Chap2_prob2_salesPrediction/dist/
/Homework/Gaddis_8thEd_Chap2_problem15_stockloss/build/
/Homework/Gaddis_8thEd_Chap2_problem15_stockloss/dist/
/Homework/Gaddis8thEdition_chap2_prob10_Personalinfo/dist/
/Homework/Gaddis8thEdition_chap2_prob10_Personalinfo/build/
/Homework/Gaddis_8thEd_chap2_prob9_CicuitBoard/dist/
/Homework/Gaddis_8thEd_chap2_prob9_CicuitBoard/build/