/Homework/GaddisStockProblem/build/
/Homework/GaddisStockProblem/dist/
/Homework/Gaddis_8thEd_Chap2_prob2_salesPrediction/build/
/Homework/Gaddis_8thEd_Chap2_prob2_salesPrediction/dist/
/Homework/Gaddis_8thEd_Chap2_problem15_stockloss/build/
/Homework/Gaddis_8thEd_Chap2_problem15_stockloss/dist/
/Homework/Gaddis8thEdition_chap2_prob10_Personalinfo/dist/
/Homework/Gaddis8thEdition_chap2_prob10_Personalinfo/build/
/Homework/Gaddis_8thEd_chap2_prob9_CicuitBoard/dist/
/Homework/Gaddis_8thEd_chap2_prob9_CicuitBoard/build/
/Homework/Assignment_2/Gaddis_chapter3_problem1_gasmileage/build/
/Homework/Assignment_2/Gaddis_chapter3_problem1_gasmileage/dist/
/Homework/Assignment_2/Gaddis_chp3_prob2_staduimseat/build/
/Homework/Assignment_2/Gaddis_chp3_prob2_staduimseat/dist/
/Homework/Assignment_2/Gaddis_chp3_prob3_housingcost/dist/
/Homework/Assignment_2/Gaddis_chp3_prob3_housingcost/build/
/Homework/Assignment_2/Gaddis_chapter3_problem4_houseinsurance/build/
/Homework/Assignment_2/Gaddis_chapter3_problem4_houseinsurance/dist/
/Homework/Assignment_2/Gaddis_chapter3_prob5_battingAvg/build/
/Homework/Assignment_2/Gaddis_chapter3_prob5_battingAvg/dist/
/Homework/Assignment_2/Gaddis_chapter3_problem6_testavg/build/
/Homework/Assignment_2/Gaddis_chapter3_problem6_testavg/dist/
/Homework/Assignment_2/Gaddis_chapter3_problem7_rainfallavg/build/
/Homework/Assignment_2/Gaddis_chapter3_problem7_rainfallavg/dist/
/Homework/Assignment_2/Gaddis_chp3_prob8_/build/
/Homework/Assignment_2/Gaddis_chp3_prob8_/dist/
/Homework/Assignment_2/Gaddis_chp3_prob9_howmanywidg/build/
/Homework/Assignment_2/Gaddis_chp3_prob9_howmanywidg/dist/
/Homework/Assignment_2/Gaddis_chp3_prob10_howmanycals/build/
/Homework/Assignment_2/Gaddis_chp3_prob10_howmanycals/dist/
/Homework/Assigment_3/Gaddis_chapter4_problem11_geometrycalc/build/
/Homework/Assigment_3/Gaddis_chapter4_problem11_geometrycalc/dist/
/Homework/Assigment_3/Gaddis_chapter4_problem15_fatgram/build/
/Homework/Assigment_3/Gaddis_chapter4_problem15_fatgram/dist/
/Homework/Assigment_3/Gaddis_chp4_prob16_speedofsound/build/
/Homework/Assigment_3/Gaddis_chp4_prob16_speedofsound/dist/
/Homework/Assigment_3/Gaddis_chapter4_problem21_internetserviceprovider/build/
/Homework/Assigment_3/Gaddis_chapter4_problem21_internetserviceprovider/dist/
/Homework/Assigment_3/Gaddis_chp4_prob17_speedsoundgases/build/
/Homework/Assigment_3/Gaddis_chp4_prob17_speedsoundgases/dist/